<html>
	<head>
		<script src="md5.js" type="text/javascript"></script> <!-- CRYPTOJS (NEW BSD LICENSE) -->
		<script src="login.js" type="text/javascript"></script>
	</head>

	<body>
	<center>
		<h2>LOGIN PAGE</h2>
		<form id="form_id" method="post" name="myform">
		<label>Username </label>
		<input type="text" name="username" id="username"/>
		<br/><br/>
		<label>Password </label>
		<input type="password" name="password" id="password"/>
		<br/><br/>
		<input type="button" value="Sign In" id="submit" onclick="signin()"/>
		<input type="button" value="Sign Up" id="submit" onclick="signin()"/>
		</form>
		<span>NOTE<br/><b class="valid">Username - Strangers<br/>Password - 1234</span>
	</center>
	</body>
</html>